# Settings

In [3]:
from google.colab import drive
drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [4]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.ensemble import RandomForestClassifier

In [6]:
os.chdir('/content/gdrive/My Drive/피셋 방세/dataset') # Set your directory

In [7]:
def cost_scorer (actual, pred):
    """
    True pos - predicted pos : Zero,
    True neg - predicted neg : Zero,
    True pos - predicted neg : 500,
    True neg - predicted pos : 10
    """
    
    cost=[]

    for i in range(0,len(actual)):
        if actual[i] == pred[i]:
                cost.append(0)
        else:
            if pred[i]=='neg':
                cost.append(500)
            else:
                cost.append(10)

    return sum(cost)

실제 값과 pred값을 예측해줄 함수

In [8]:
def custom_cost (y_pred, dataset):
    y_true = dataset.get_label()
    
    cost = []
    for i in range(0,len(y_true)):
        if y_true[i] == y_pred[i]:
            cost.append(0)
        else:
            if y_pred[i] == 0:
                cost.append(500)
            else:
                cost.append(10)
    return 'cost', -sum(cost), True

LGBM 시 cost 계산 해 줄 함수

# 사용할 Data load

knn impute + smote

In [20]:
# knn imputation과 SMOTE한 x값에 대응될 y값
train_y = pd.read_csv('knn_y_smote_final2.csv') #
train_y.drop('Unnamed: 0', axis=1, inplace=True)

# knn imputation과 SMOTE한 X값에 해당하는 데이터 (train_feature)
train = pd.read_csv('knn_nopca_x_smote_final2.csv') #
train.drop('Unnamed: 0', axis=1, inplace=True)

In [21]:
train

         aa_000        ac_000        ad_000  ...        ee_009  ef_000  eg_000
0      0.048059  2.000001e-01  3.518051e-08  ...  9.480121e-05     0.0     0.0
1      0.013858  4.000000e-01  3.508732e-08  ...  1.071684e-03     0.0     0.0
2      0.025172  3.981778e-07  7.940079e-08  ...  8.181460e-04     0.0     0.0
3      0.146131  1.283893e-06  1.190080e-07  ...  2.981566e-05     0.0     0.0
4      0.012351  2.000001e-01  2.520882e-08  ...  5.061314e-04     0.0     0.0
...         ...           ...           ...  ...           ...     ...     ...
78135  0.213440  8.643297e-07  1.801756e-07  ...  1.117605e-06     0.0     0.0
78136  0.165311  1.563414e-06  1.140524e-06  ...  3.332003e-05     0.0     0.0
78137  0.044690  1.359711e-07  2.459346e-08  ...  6.442316e-06     0.0     0.0
78138  0.103401  0.000000e+00  2.873629e-07  ...  4.923258e-07     0.0     0.0
78139  0.144226  2.363718e-06  1.113286e-06  ...  3.562991e-06     0.0     0.0

[78140 rows x 162 columns]

In [22]:
train_y

      class
0       neg
1       neg
2       neg
3       neg
4       neg
...     ...
78135   pos
78136   pos
78137   pos
78138   pos
78139   pos

[78140 rows x 1 columns]

#  Modeling
LGBM: train set만을 이용하여 cost 구하기

In [23]:
from lightgbm import LGBMClassifier

## 1. test / val data split

In [24]:
train_y [ 'class_int'] =[ 0  if train_y['class'][i] == 'neg' else 1
                              for i in range(0,len(train_y))
                            ]

predict를 위해서 neg는 0, pos는 1로 만든 column을 만들어줌  
(pos/neg의 str 상태로는 오류가 떠서,,)

In [25]:
X_train, X_val, y_train, y_val = train_test_split(train,
                                                        train_y['class_int'],
                                                        test_size=0.3,
                                                        shuffle=True,
                                                        random_state = 500)

# 2. 모델 학습

In [26]:
lg = LGBMClassifier(n_estimators=1000, metric = "custom_cost")  # 위에서 정의한 함수로 metric 평가
lg.fit(X_train, y_train, eval_set = (X_val, y_val))

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               metric='custom_cost', min_child_samples=20,
               min_child_weight=0.001, min_split_gain=0.0, n_estimators=1000,
               n_jobs=-1, num_leaves=31, objective=None, random_state=None,
               reg_alpha=0.0, reg_lambda=0.0, silent=True, subsample=1.0,
               subsample_for_bin=200000, subsample_freq=0)

# 3. validationset을 이용한 Predict

In [27]:
pred = lg.predict(X_val)

In [28]:
pred_df = pd.DataFrame(pred)

In [29]:
pred_df

       0
0      0
1      0
2      1
3      1
4      1
...   ..
23437  1
23438  1
23439  1
23440  0
23441  1

[23442 rows x 1 columns]

예측이 0과 1로 되어 있음 --> 0과 1로 학습했기 때문에 예측도 0과 1로 되어 있지만  
최종 제출은 pos / neg로 해야 하기 때문에 pos / neg column만듦

In [30]:
pred_df = pd.DataFrame(pred)
pred_df['class'] = [ 'pos' if pred_df[0][i]>0.5 else 'neg' for i in range(0,len(pred))]
pred_df

       0 class
0      0   neg
1      0   neg
2      1   pos
3      1   pos
4      1   pos
...   ..   ...
23437  1   pos
23438  1   pos
23439  1   pos
23440  0   neg
23441  1   pos

[23442 rows x 2 columns]

이 때 0.5 이상은 pos, 0.5 이하는 neg로 할당시켰음

# 4. LGBM Cost 구하기

In [31]:
y_val

39248    0
8917     0
73226    1
69195    1
50841    1
        ..
46836    1
52959    1
66810    1
12169    0
43453    1
Name: class_int, Length: 23442, dtype: int64

y_val의 index가 엉망인데 cost_scorer가 인덱스 기준으로 돌아가서 index reset 해줘야함

In [32]:
y_val_tmp = y_val.reset_index(drop=True)
y_val_tmp = pd.DataFrame(y_val_tmp)
y_val_tmp

       class_int
0              0
1              0
2              1
3              1
4              1
...          ...
23437          1
23438          1
23439          1
23440          0
23441          1

[23442 rows x 1 columns]

In [33]:
y_val_tmp ['class'] = [ 'pos' if y_val_tmp['class_int'][i]>0.5 else 'neg' for i in range(0,len(y_val_tmp))]
y_val_tmp

       class_int class
0              0   neg
1              0   neg
2              1   pos
3              1   pos
4              1   pos
...          ...   ...
23437          1   pos
23438          1   pos
23439          1   pos
23440          0   neg
23441          1   pos

[23442 rows x 2 columns]

In [34]:
cost_scorer(y_val_tmp['class'], pred_df['class'])

940

# 5. 모델저장

In [35]:
import joblib

In [36]:
joblib.dump(lg, 'final_model.pkl')

['final_model.pkl']