# Settings

In [4]:
from google.colab import drive
drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [5]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import KFold, cross_val_score
from sklearn.model_selection import train_test_split, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import make_scorer
from sklearn.ensemble import RandomForestClassifier

In [7]:
os.chdir('/content/gdrive/My Drive/피셋 방세/dataset')

# 모델 불러오기

In [9]:
import joblib

In [10]:
lg = joblib.load('final_model.pkl')

# 데이터 불러오기

In [17]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test_feature.csv') #test셋 처음 등장!

In [43]:
# 미리 전처리한 train셋: test셋에 컬럼명을 붙이기 위해 불러놓음.
X_train = pd.read_csv('knn_nopca_x_smote_final2.csv')
X_train = X_train.drop(['Unnamed: 0'], axis=1)

# 최종 test 데이터 pred

## 1. Preprocessing - test data

### 1.1 column 지워주기

아까 train 데이터에서 지웠던 column들을 test에서도 지워줌

In [18]:
# Train 데이터에서 NA 비율이 50% 이상이었던 column날리기
train_x = train.drop(['class'], axis=1)

# train_x column들의 NA 비율 구하기
na_ratio_col = train_x.isnull().sum().sort_values(ascending=False)/len(train_x)

# 삭제할 column들의 이름 모음
col_del = [ na_ratio_col.index[i]  for i in range(0,len(na_ratio_col)) if ( na_ratio_col[i] > 0.5 ) == True]

In [32]:
col_del

['br_000',
 'bq_000',
 'bp_000',
 'cr_000',
 'ab_000',
 'bo_000',
 'bn_000',
 'bm_000']

In [19]:
test.drop(col_del, axis=1, inplace=True)

In [33]:
test

      aa_000        ac_000  ad_000  ae_000  ...     ee_008   ee_009  ef_000  eg_000
0         82  6.800000e+01    40.0     0.0  ...        0.0      0.0     0.0     0.0
1      66002  2.120000e+02   112.0     0.0  ...      516.0      0.0     0.0     0.0
2        174  2.600000e+01    24.0     0.0  ...        NaN      NaN     0.0     0.0
3     120278  2.130706e+09   256.0     0.0  ...  1006628.0  34820.0     0.0     0.0
4      30758  4.500000e+02   402.0     0.0  ...   222050.0   5996.0     0.0     0.0
...      ...           ...     ...     ...  ...        ...      ...     ...     ...
7995     374  0.000000e+00     NaN     0.0  ...        0.0      0.0     0.0     0.0
7996   40262  1.802000e+03  1720.0     0.0  ...   298810.0  24458.0     0.0     0.0
7997    2146  2.130706e+09   300.0     0.0  ...        6.0      0.0     0.0     0.0
7998  215220  4.140000e+02     0.0     0.0  ...     6154.0      0.0     0.0     0.0
7999   81852  2.130706e+09   892.0     0.0  ...   960024.0  25566.0     0.0     0.0

[8000 rows x 162 columns]

### 1.2 Scaling

train에 fit해줫던거 바탕으로 여기에서는 transform만

In [20]:
# train 에서 scaling 했던거 다시 구현
na_ratio_col = train_x.isnull().sum().sort_values(ascending=False)/len(train_x)
na_ratio_row = train_x.isnull().sum(1).sort_values(ascending=False)/len(train_x.columns)
col_del = [ na_ratio_col.index[i]  for i in range(0,len(na_ratio_col)) if ( na_ratio_col[i] > 0.5 ) == True]
train_x.drop(col_del, axis=1, inplace=True)
len(train_x.columns)
row_del = [ na_ratio_row.index[i] for i in range(0,len(na_ratio_row)) if (na_ratio_row[i] <= 0.5 ) ]
train_x = train_x.iloc[row_del,:]
len(train_x)
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# train_x로 fit_transform 해주고
train_x_scaled = pd.DataFrame(scaler.fit_transform(train_x), columns = train_x.columns)

In [21]:
test_scaled = pd.DataFrame(scaler.transform(test),columns=test.columns)

### 1.3 KNN Impute

In [22]:
from sklearn.impute import KNNImputer

knn = KNNImputer(n_neighbors=5)

# Scaling 때와 마찬가지로 train을 fit_transform 해주고
train_x_knn = knn.fit_transform(train_x_scaled)

In [23]:
knn_X_test = knn.transform(test_scaled)
knn_X_test

array([[2.98554849e-05, 3.19142945e-08, 4.65967062e-09, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.40307526e-02, 9.94975064e-08, 1.30470777e-08, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [6.33518826e-05, 1.22025244e-08, 2.79580237e-09, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       ...,
       [7.81339885e-04, 9.99999891e-01, 3.49475297e-08, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [7.83597251e-02, 1.94301734e-07, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [2.98015994e-02, 9.99999891e-01, 1.03910655e-07, ...,
        6.71009885e-03, 0.00000000e+00, 0.00000000e+00]])

여기에서도 transform만 해줌

In [44]:
knn_test_df = pd.DataFrame(knn_X_test, columns=X_train.columns)

## 2. Predict

In [49]:
pred_final = lg.predict(knn_test_df)

In [50]:
pred_final

array([0, 0, 0, ..., 0, 1, 0])

0과 1로 예측되었기 때문에 0.5 이상은 pos, 0.5 이하는 neg로 바꿔줌

In [51]:
pred_final = pd.DataFrame(pred_final)

In [52]:
pred_final ['class'] = [ 'pos' if pred_final[0][i]>0.5 else 'neg' for i in range(0,len(pred_final))]
pred_final

      0 class
0     0   neg
1     0   neg
2     0   neg
3     0   neg
4     0   neg
...  ..   ...
7995  0   neg
7996  0   neg
7997  0   neg
7998  1   pos
7999  0   neg

[8000 rows x 2 columns]

In [53]:
pred_final.drop([0], axis=1, inplace=True)

In [54]:
pred_final['id'] = list(range(1,8001))
pred_final.set_index(['id'])

     class
id
1      neg
2      neg
3      neg
4      neg
5      neg
...    ...
7996   neg
7997   neg
7998   neg
7999   pos
8000   neg

[8000 rows x 1 columns]

In [56]:
pred_final.to_csv('submission_final2.csv', index=False)